.menuDetail {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: auto;
  z-index: 300;
  opacity: 0;
  animation: fade-in;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menuDetail::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.85);
  position: fixed;
  top: 0;
  left: 0;
}

.menuDetail h1 {
  z-index: 10;
}

.menuDetailContainer {
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  gap: 1rem;
}

.menuDetailContainer h1 {
  font-weight: 900;
  padding-bottom: 1rem;
  border-bottom: .5rem solid var(--mill-orange);
}

.image {
  position: relative;
  padding-bottom: 1rem;
}

.image img {
  border: .3rem solid black;
  filter: drop-shadow(1px 1px 5px black);
  max-height: 20rem;
  object-fit: cover;
  min-height: 20rem;
  width: 100%;
  display: block;
  background: black;
}

.image::after {
  content: attr(data-price);
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 2rem;
  font-size: 3rem;
  filter: drop-shadow(1px 1px 5px black);
  text-shadow: 1px 1px 1px black;
  font-weight: 900;
}


.menuDetailContainer button {
  margin-top: auto;
  margin-bottom: 6rem;
}

.middle h6 {
  font-weight: 900;
  padding-bottom: 1rem;
}

.middle > div {
  margin-bottom: 1rem;
}

.description {
/* TODO: cleanup */
  margin-bottom: 3rem !important;
}

@media (width >= 768px) {
  .image {
    max-width: 1000px;
    flex: 1;
    flex-basis: 50%;
  }

  .image img {
    max-height: 30rem;
  }

  .menuDetailContainer {
    width: clamp(1000px, 50%, 1280px);
  }

  .middle {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .description { 
    flex: 1;
    flex-basis: 40%;
  }
  
  .other {
    flex-basis: 100%;
  }

}
