.contenedorNotFound {
    
    width: 75%;
    max-width: 35rem;
    height: 15rem;
    background-color: var(--mill-brown);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.contenedorNotFound button {

    width: 30%;
    padding: 5px;
    background: transparent;
    border: solid 2px;
    border-color: white;
    color: white;
    
}

.contenedorNotFound button:hover {

    background-color: var(--mill-orange);
}